{% extends '::framework.html.twig' %}

{% block title %}
<title>join as coach | coach.me</title>
{% endblock %}

{% block joinmenu %}
	<li class="active"><a href="#join">Join</a></li>
{% endblock %}

{% block maincontent %}
<div class="row">
	<div class="col-lg-8 col-offset-1 form-content-box">
		<h3 class="text-primary">Join as a coach</h3>
		<form class="form-horizontal">
		  <fieldset>
			  	<div class="form-group">
			  		<div class="col-lg-8">
				      <input type="text" class="form-control half-control" id="exampleInputFname" placeholder="First Name">
				      <input type="text" class="form-control half-control" id="exampleInputLname" placeholder="Last Name">
			  		</div>
			  		<label for="exampleInputFname" class="col-lg-4 control-label text-muted">Avoid aliases or usernames</label>
			    </div>
			    
			    <div class="form-group">
			    	<div class="col-lg-8">
			      	<input type="text" class="form-control" id="exampleInputEmail" placeholder="Email">
			    	</div>
			    	<label for="exampleInputEmail" class="col-lg-4 control-label text-muted">Something you check often</label>
			    </div>
			    
			    <div class="form-group">
			    	<div class="col-lg-8">
			      	<input type="text" class="form-control" id="exampleInputPassword" placeholder="Password">
			    	</div>
			    </div>
			    
			    <div class="form-group">
			    	<div class="col-lg-8">
			      	<input type="text" class="form-control" id="exampleInputConfirmPassword" placeholder="Confirm Password">
			    	</div>
			    </div>
			    
			    <button type="submit" class="btn btn-primary">Join and continue to profile creation &rarr;</button>
		  </fieldset>
		</form>
	</div>
</div>
{% endblock %}
