<!DOCTYPE html>
<html>
  <head>
    <title>coach.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets '%kernel.root_dir%/Resources/public/css/*',
    							 '@gipsydangerpeopleBundle/Resources/public/css/join.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  </head>
  <body>
    {% include '::header.html.twig' %}
    <div class="container">
    	<div class="row">
    		<div class="col-lg-4 col-offset-1 text-center form-box">
    			<h3 class="text-primary">Create a coaching account</h3>
    			<p>
	    			Easy to understand description about what a coaching account is.
    			</p>
    			<button type="button" class="btn btn-primary btn-large btn-block">Block level button</button>
    		</div>
    		<div class="col-lg-4 col-offset-2 text-center form-box">
    			<h3 class="text-success">Create a normal account</h3>
    			<p>
	    			Easy to understand description about what a normal account is.
    			</p>
    			<button type="button" class="btn btn-success btn-large btn-block">Block level button</button>
    		</div>
    	</div>
    </div><!-- /.container -->

    <!-- JavaScript plugins (requires jQuery) -->
    {% javascripts '%kernel.root_dir%/Resources/public/js/*' %}
       <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>

