<!DOCTYPE html>
<html>
  <head>
    <title>coach.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets '%kernel.root_dir%/Resources/public/css/*'
    							 '@gipsydangerpeopleBundle/Resources/public/css/join.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">coach.me</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">Find a Coach</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
	          <li class="active"><a href="#join">Join</a></li>
            <li><a href="#login">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    	<div class="row">
    		<div class="col-lg-8 col-offset-1 form-box">
    			<h3 class="text-primary">Join as a Prospective student</h3>
    			<form class="form-horizontal">
					  <fieldset>
						  	<div class="form-group">
						  		<div class="col-lg-8">
							      <input type="text" class="form-control half-control" id="exampleInputFname" placeholder="First Name">
							      <input type="text" class="form-control half-control" id="exampleInputLname" placeholder="Last Name">
						  		</div>
						  		<label for="exampleInputFname" class="col-lg-4 control-label text-muted">Avoid aliases or usernames</label>
						    </div>
						    
						    <div class="form-group">
						    	<div class="col-lg-8">
						      	<input type="text" class="form-control" id="exampleInputEmail" placeholder="Email">
						    	</div>
						    	<label for="exampleInputEmail" class="col-lg-4 control-label text-muted">Something you check often</label>
						    </div>
						    
						    <div class="form-group">
						    	<div class="col-lg-8">
						      	<input type="text" class="form-control" id="exampleInputPassword" placeholder="Password">
						    	</div>
						    </div>
						    
						    <div class="form-group">
						    	<div class="col-lg-8">
						      	<input type="text" class="form-control" id="exampleInputConfirmPassword" placeholder="Confirm Password">
						    	</div>
						    </div>
						    
						    <button type="submit" class="btn btn-primary">Join and continue to profile creation &rarr;</button>
					  </fieldset>
					</form>
    		</div>
    	</div>
    </div><!-- /.container -->

    <!-- JavaScript plugins (requires jQuery) -->
    {% javascripts '%kernel.root_dir%/Resources/public/js/*' %}
       <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>

