{% extends '::framework.html.twig' %}

{% block title %}
<title>profile | coachli.st</title>
{% endblock %}

{% block maincontent %}
<div class="row profile-box">
	<div class="col-lg-8">
		<div class="row">
      <div class="col-lg-12 background-content padded-box">
      	<div class="col-lg-2">
        	<img src="#avatar"/>
      	</div>
      	<div class="col-lg-10">
        	<h2 class="no-margin">Zack Elliott <small>hubrid.883</small><span class="label label-info pull-right">SC2</span></h2>
        		<p class="location-info">
        			<strong><i class="icon-location-arrow"></i> Seattle</strong>&nbsp;&nbsp;
        			<strong class="text-success"><i class="icon-ok"></i> Meets in person</strong>
        		</p>
        		<p>
        			<i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i>
        		</p>
      	</div>
      </div>
    	<div class="col-lg-12 background-content sub-profile-box">
    		<h4 class="no-margin">Background&nbsp;&nbsp;&nbsp;<i class="icon-list-alt"></i><i class="icon-caret-down pull-right"></i></h4>
    		<div class="content-list">
    			<div>
    				<strong>Grandmaster Rating</strong>
    				<p class="no-margin">Short summary yadda yadda yadda.</p>
    				<p class="text-muted no-margin">2008-2012 (4 years)</p>
    			</div>
    			<div>
    				<strong>Team Liquid</strong>
    				<p class="no-margin">Short summary yadda yadda yadda.</p>
    				<p class="text-muted no-margin">2010-2012 (2 years)</p>
    			</div>
    			<div>
    				<strong>Evil Geniuses</strong>
    				<p class="no-margin">Short summary yadda yadda yadda.</p>
    				<p class="text-muted no-margin">2008-2010 (2 years)</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-lg-12 background-content sub-profile-box">
    		<h4 class="no-margin">Coaching Style&nbsp;&nbsp;&nbsp;<i class="icon-bullhorn"></i><i class="icon-caret-down pull-right"></i></h4>
    		<div class="content-list">
    			<div>
    				<strong>What races do you coach?</strong>
    				<p class="race-labels"><span class="label label-danger">Terran</span>&nbsp;&nbsp;&nbsp;<span class="label label-info">Protoss</span></p>
    			</div>
    			<div>
    				<strong>How would you describe your coaching style?</strong>
    				<p class="no-margin">Short summary yadda yadda.</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-lg-12 background-content sub-profile-box">
    		<h4 class="no-margin">Reputation&nbsp;&nbsp;&nbsp;<i class="icon-star"></i><i class="icon-caret-down pull-right"></i></h4>
    		<div class="content-list">
			  	<div>
			  		<h5 class="review-title">Overall Review</h5>
						<p class="no-margin">
			      	<i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star text-muted"></i>
			      </p>
			      <p class="no-margin text-muted">
			      	4 out of 5 stars
			      </p>
					</div>
					<div>
						<h5 class="review-title">Student Reviews <span class="badge">3</span></h5>
						<div>
							<p class="no-margin">
			      		<i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star text-muted"></i>
			      	</p>
			      	<strong><a href="">Zack Elliott</a></strong>
			      	<p class="no-margin text-muted">4/15/2013</p>
			      	<p>
			      		Short review yadda yadda.
			      	</p>
						</div>
						<div>
							<p class="no-margin">
			      		<i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star text-muted"></i>
			      	</p>
			      	<strong><a href="">Zack Elliott</a></strong>
			      	<p class="no-margin text-muted">4/15/2013</p>
			      	<p>
			      		Short review yadda yadda.
			      	</p>
						</div>
					</div>
				</div>
    	</div>
    </div>
	</div>
	<div class="col-lg-3 col-lg-offset-1 background-content padded-box">
		<h2 class="text-primary text-center no-margin"><strong>$25 / hr</strong></h2>
		
		<div class="contact-accordion">
			<h3 class="text-center contact-header">Contact&nbsp;&nbsp;&nbsp;<i class="icon-double-angle-down"></i></h3>
			<div class="accordion-links">
				<div><a href=""><i class="icon-envelope"></i>&nbsp;&nbsp;&nbsp;hubridnoxx@gmail.com</a></div>
				<div><a href=""><i class="icon-twitter"></i>&nbsp;&nbsp;&nbsp;@hubridnoxx</a></div>
				<div><a href=""><i class="icon-comments"></i>&nbsp;&nbsp;&nbsp;send PM via coachli.st</a></div>
			</div>
		</div>
		
		<h4>Info&nbsp;&nbsp;&nbsp;<i class="icon-link"></i></h4>	
	</div>
</div>
{% endblock %}